# App
APP_PORT=

# Existing PostgreSQL container connection
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_ADMIN_USER=
POSTGRES_ADMIN_PASSWORD=

# Project database
DB_NAME=
DB_TEST_NAME=

DB_USER=
DB_TEST_USER=

DB_PASSWORD=
DB_TEST_PASSWORD=

# Spring Boot connection from macOS
DB_URL=
DB_URL_TEST=

# Database migrations
FLYWAY_ENABLED=

JWT_SECRET=
JWT_ACCESS_EXPIRATION_MINUTES=
JWT_REFRESH_EXPIRATION_DAYS=

ADMIN_LOGIN=
ADMIN_PASSWORD=
ADMIN_DISPLAY_NAME=
ADMIN_EMAIL=

SPRING_SECURITY_USER_NAME=
SPRING_SECURITY_USER_PASSWORD=

APP_DEFAULT_USER_ENABLED=
APP_DEFAULT_USER_LOGIN=
APP_DEFAULT_USER_PASSWORD=
APP_DEFAULT_USER_DISPLAY_NAME=
APP_DEFAULT_USER_EMAIL=
APP_DEFAULT_USER_UPDATE_PASSWORD=

COOKIE_SECURE=
